<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="{% static "handsontable/dist/handsontable.full.min.css" %}"  rel="stylesheet" media="screen">

<script type="text/javascript" src="{% static "js/jquery-3.3.1.js" %}"></script>
<script type="text/javascript" src="{% static "handsontable/dist/handsontable.full.min.js" %}"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>

<style>
  body{
        overflow-x:hidden;
      }
</style>

</head>
<body>

  <script>
  //console.log(document.forms["vs_form"]["desc"].value);

  function validateForm(){
    console.log('In function');
    var formName = "vs_form";
    var fieldsArr = ["username", "name", "password", "group"];
    for(i = 0; i < fieldsArr.length; ++i){
      var input = document.forms[formName][fieldsArr[i]].value;
      console.log(input);
      if(input==''){
        alert("All fields need to be filled out. "+fieldsNames[i]+" and possibly others are not filled out");
        return false;
      }
    }
    return true;
  }
  </script>

<div id="vs_form_div" align = 'center'>
  <form method='POST' id='vs_form'>
      {% csrf_token %}
      <h6>
      <!--Line Number: <input type="number" name="lineNum" id="lineNum" value=1> <br> -->
      username: <input type="text" name="username" id="username"> <br>
      name: <input type="int" name="name" id="name" > <br>
      password: <input type ="password" name="password" id="password"> <br>
      group: <input type ="text" name="group" id="group" > <br>

    </h6>
      <br>
        <input type="submit" id="usercreate" value="Create Account">
      <input type="button" id="login" value="Already have an account?">
 </form>
</div>
<br>
  <script>
    function validateForm(){
    console.log('In function');
    var formName = "vs_form";
    var fieldsArr = ["username", "name", "password", "group"];
    for(i = 0; i < fieldsArr.length; ++i){
      var input = document.forms[formName][fieldsArr[i]].value;
      console.log(input);
      if(input==''){
        alert("All fields need to be filled out. "+fieldsNames[i]+" and possibly others are not filled out");
        return false;
      }
    }
    return true;
  }
  function redirect(url){
    if(!validateForm()){
      return false;
    }
    document.getElementById("vs_form").action = url;
    return true;
  }

      document.getElementById("login").onclick = function () {
        location.href = "/login/";
    };
  document.getElementById("usercreate").onclick = function(){return redirect("/new_user/");};
  </script>




</body>
</html>


<!--
Code to update vendor search form
var lineNumVS = document.getElementById("lineNum");
lineNumVS.onchange = function() {updateVendorSearchTool(hot)};
//set max of the line number for the vendor search
lineNumVS.min = "1";
-->
